
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <style>

                    #ttr td{ vertical-align: middle }

                    .nyos-success{ background-color: green; color: white; padding: 10px; margin-top: 3em; }
                    .nyos-warn{ background-color: yellow; color: black; padding: 10px; margin-top: 1em;}

                </style>


                {#{ pa(now_level) }#}

                <center><h3>{{ now_level.name2 }}</h3></center>

                <br/>
                <br/>

                <form name="bw" action="" 
                      method="post" 
                      enctype="multipart/form-data" 
                      class="submit send_bw5 ajax" 
                      div_load='ajaxform_res2' 
                      div_res='ajaxform_res1' 

                      res_ok='ajaxform_res1' 
                      res_error='ajaxform_res12' 
                      
                      show_block_loaded="ajaxform_res2"

                      >

                    <table class="table table-striped" id="ttr" >


                        {% for k2, v2 in now_level if v2.fname is defined and v2.ftype is defined %}

                            {% if v2.ftype == 'head' %}

                                <tr>
                                    <th colspan="2" style="text-align:center;" >{{ v2.fname }}</td>
                                </tr>

                            {% elseif ( v2.ftype == 'string' or v2.ftype == 'date' or v2.ftype == 'textarea' or v2.ftype == 'select' ) %}

                                <tr>
                                    <td>
                                        <label for="{{ k2 }}" >
                                            {{ v2.fname }}
                                            {% if v2.fobyaz is defined and v2.fobyaz == 'da' %}&nbsp;<font color="red">*</font>{% endif %}
                                        </label>
                                    </td>
                                    <td>
                                        <div class="xform-group">

                                            {% if v2.ftype == 'string' or v2.ftype == 'date' %}

                                                <input style="width:100%" 
                                                       id="{{ k2 }}" 
                                                       name="bw[{{ k2 }}]" 
                                                       type="text" 
                                                       {# value="{if isset($v2.value) }{$v2.value}{/if}" #}
                                                       value="{{ v2.value ?? '' }}" 
                                                       rel="{{ v2.fname }}"
                                                       {% if v2.fobyaz is defined and v2.fobyaz == 'da' %} required {% endif %}
                                                       />

                                            {% elseif v2.ftype == 'textarea' %}

                                                <textarea style="width:100%" 
                                                          id="{{ k2 }}" 
                                                          name="bw[{{ k2 }}]" 
                                                          rel="{{ v2.fname }}"
                                                          {# type="text" #}
                                                          {# value="{if isset($v2.value) }{$v2.value}{/if}" #}
                                                          {# value="{{ v2.value ?? '' }}" #}
                                                          {% if v2.fobyaz is defined and v2.fobyaz == 'da' %} required {% endif %}
                                                          >{{ v2.value ?? '' }}</textarea>

                                            {% elseif v2.ftype == 'select' %}

                                                <select 
                                                    style="width:100%" 
                                                    id="{{ k2 }}" 
                                                    name="bw[{{ k2 }}]" 
                                                    rel="{{ v2.fname }}"
                                                    {% if v2.fobyaz is defined and v2.fobyaz == 'da' %} required {% endif %}
                                                    >

                                                    {% for i in 1..10 if v2['var'~i] is defined %}
                                                        <option value="var{{ i }}">{{ v2['var'~i] }}</option>
                                                    {% endfor %}

                                                    {#
                                                    {if isset($v2.var2) }
                                                    <option value="var2">{$v2.var2}</option>
                                                    {/if}
                                                    {if isset($v2.var3) }
                                                    <option value="var3">{$v2.var3}</option>
                                                    {/if}
                                                    {if isset($v2.var4) }
                                                    <option value="var4">{$v2.var4}</option>
                                                    {/if}
                                                    {if isset($v2.var5) }
                                                    <option value="var5">{$v2.var5}</option>
                                                    {/if}
                                                    {if isset($v2.var6) }
                                                    <option value="var6">{$v2.var6}</option>
                                                    {/if}
                                                    {if isset($v2.var7) }
                                                    <option value="var7">{$v2.var7}</option>
                                                    {/if}
                                                    {if isset($v2.var8) }
                                                    <option value="var8">{$v2.var8}</option>
                                                    {/if}
                                                    {if isset($v2.var9) }
                                                    <option value="var9">{$v2.var9}</option>
                                                    {/if}
                                                    {if isset($v2.var10) }
                                                    <option value="var10">{$v2.var10}</option>
                                                    {/if}
                                                    #}

                                                </select>


                                            {% endif %}
                                        </div>
                                        {% if v2.comment is defined %}<small>{{ v2.comment }}</small>{% endif %}
                                    </td>
                                </tr>


                            {% endif %}

                            {#
                            
                                                    {if $v2.ftype == 'head' }
                                                    {elseif $v2.ftype == 'string' }
                                                    {elseif $v2.ftype == 'date' }
                                                    <tr>
                                                        <td><label for="{$k2}" >{$v2.fname}{if isset($v2.fobyaz) && $v2.fobyaz == 'da' }&nbsp;<font color="red">*</font>{/if}</label></td>
                                                        <td><div class="xform-group"><input style="width:100%" id="{$k2}" name="bw[{$k2}]" type="date" value="{if isset($v2.value) }{$v2.value}{/if}" rel="{$v2.fname}"
                                                                                            {if isset($v2.fobyaz) && $v2.fobyaz == 'da' }required{/if}
                                                                                            /></div>
                                                            {if isset($v2.comment) }<small>{$v2.comment}</small>{/if}
                                                        </td>
                                                    </tr>
                                                    {elseif $v2.ftype == 'textarea' }
                                                    <tr>
                                                        <td colspan="2">{$v2.fname}{if isset($v2.fobyaz) && $v2.fobyaz == 'da' }&nbsp;<font color="red">*</font>{/if}<br/>
                                                            <textarea style="width:100%" name="bw[{$k2}]"  rel="{$v2.fname}"
                                                                      {if isset($v2.fobyaz) && $v2.fobyaz == 'da' }required{/if}
                                                                      {if isset($v2.comment) }placeholder="{$v2.comment|escape}"{/if}
                                                                      >{if isset($v2.value) }{$v2.value}{/if}</textarea>
                        
                                                        </td>
                                                    </tr>                    
                                                    {elseif $v2.ftype == 'select' }
                                                    <tr>
                                                        <td>{$v2.fname}{if isset($v2.fobyaz) && $v2.fobyaz == 'da' }&nbsp;<font color="red">*</font>{/if}</td>
                                                        <td>
                                                            <select style="width:100%" name="bw[{$k2}]"  rel="{$v2.fname}" 
                                                                    {if isset($v2.fobyaz) && $v2.fobyaz == 'da' }required{/if}
                                                                    >
                        
                                                                    {if isset($v2.var1) }
                                                                    <option value="var1">{$v2.var1}</option>
                                                                {/if}
                                                                {if isset($v2.var2) }
                                                                <option value="var2">{$v2.var2}</option>
                                                                {/if}
                                                                {if isset($v2.var3) }
                                                                <option value="var3">{$v2.var3}</option>
                                                                {/if}
                                                                {if isset($v2.var4) }
                                                                <option value="var4">{$v2.var4}</option>
                                                                {/if}
                                                                {if isset($v2.var5) }
                                                                <option value="var5">{$v2.var5}</option>
                                                                {/if}
                                                                {if isset($v2.var6) }
                                                                <option value="var6">{$v2.var6}</option>
                                                                {/if}
                                                                {if isset($v2.var7) }
                                                                <option value="var7">{$v2.var7}</option>
                                                                {/if}
                                                                {if isset($v2.var8) }
                                                                <option value="var8">{$v2.var8}</option>
                                                                {/if}
                                                                {if isset($v2.var9) }
                                                                <option value="var9">{$v2.var9}</option>
                                                                {/if}
                                                                {if isset($v2.var10) }
                                                                <option value="var10">{$v2.var10}</option>
                                                                {/if}
                        
                                                            </select>
                                                            {if isset($v2.comment) }<small>{$v2.comment}</small>{/if}
                                                        </td>
                                                    </tr>                    
                                                    {/if}
                        
                                                    {/if}
                                                    
                                                    #}

                        {% endfor %}

                        {% set anticod = random(10000,99999) %}

                        <tr>
                            <td><b>Введите цифры:<font color="red">*</font></b> {{ anticod }}</td>
                            <td><input name="antispam" style="width:98%; text-align:center;" type="text" value="" required /></td>
                        </tr>
                        <tr><td colspan="2"><p>Поля помеченные звёздочкой (<font color="red">*</font>) обязательны для заполнения.</p></td></tr>
                        <tr><td colspan="2" align='center' >

                                <div id="ajaxform_res12" class="bg-warning" style="padding:5px 10px; display:none;"></div>

                                <p>

                                    <input name="suba" style="width:70%; text-align:center;" type="submit" value="Отправить" />
                                    <div id="ajaxform_res2" style="display:none;" ><img src='/img/load.gif' alt='' border='0' ></div>

                                </p></td></tr>

                    </table>                

                    <input name="action" type="hidden" value="send_ajax" />

                    <input name="run_modul" type="hidden" value="{{ level }}" />

                    <input name="id" type="hidden" value="{{ anticod }}" />
                    <input name="s" type="hidden" value="{{ creatSecret(anticod) }}" />

                </form>


            </div>
            <!-- end col -->

        </div>
        <!-- end row -->

        <div id="ajaxform_res1" class="bg-success" style="padding:5px 10px; display:none; xmargin-top: 5vh;"></div>

    </div><!-- end container -->
</section>